[Desktop Entry]
Version=1.0
Type=Application
Name=HomeManager
Comment=Sistema de Gerenciamento de Elevadores
Exec=/home/yan/Coding/ElevadoresWebApp/homemanager.sh
Icon=/home/yan/Coding/ElevadoresWebApp/static/images/home.png
Terminal=true
StartupNotify=true
Categories=Office;Database;
Keywords=elevadores;gestão;contratos;clientes;
StartupWMClass=HomeManager
MimeType=application/x-homemanager;
